<footer>
    <p class="copyright">Copyright © 2023 FinEdge. All rights reserved. </p>
    <p class="name">Made by Akhil Reddy</p>
</footer>
<style>
    footer{
        display: flex;
        justify-content: space-between;
        padding-block: 2rem;
    }
    .copyright,.name{
        color: rgb(75, 75, 75);
    }
    @media screen and (max-width: 950px){
        footer{
            flex-direction: column;
            text-align: center;
        }
    }
</style>